In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

import warnings
warnings.filterwarnings('ignore')

In [7]:
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('user-data-dir=C:\\Perfil')

driver_path = r"C:\Users\harsh\Desktop\chromedriver.exe"
service = Service(driver_path)
driver = webdriver.Chrome(service=service,options=chrome_options)
#driver = webdriver.Chrome(r"C:\Users\harsh\Desktop\chromedriver.exe")

In [8]:
# Opening the homepage of Amazon.in
url = "https://www.amazon.in/"
driver.get(url)
driver.maximize_window()
time.sleep(1)

In [10]:
# Asking the user to input the keywords he/she wants to search
user_inp = ['Laptop','smartphone','Headphones','smart watches', 'Professional Cameras', 'Printers', 'Monitors', 'Home theater',
            'Router']
#product_url
product_urls = []
start = 0
end =16
count =0
for i in user_inp:
    search_bar = driver.find_element_by_id("twotabsearchtextbox")    # Locating searc_bar by id
    search_bar.clear()                                               # clearing search_bar
    search_bar.send_keys(i)                                   # sending user input to search bar
    search_button = driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]/span/input')       # Locating search_button by xpath
    search_button.click()
    time.sleep(2)
    
    
    for page in range(start,end):
        url = driver.find_elements_by_xpath('//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
        for j in url:
            product_urls.append(j.get_attribute("href"))
        #time.sleep(3)
        nxt_button =driver.find_element_by_xpath('//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')
        nxt_button.click()
        time.sleep(2)
    
len(product_urls)

3087

In [11]:
Rating =[]
Reviews = []

In [16]:
for url in product_urls:
        driver.get(url)
        time.sleep(2)
    
        # Extracting Rating
        try:
            rate = driver.find_element_by_xpath('//span[@class="a-size-base a-nowrap"]//span')  
            Rating.append(rate.text.split()[0])
        except NoSuchElementException:
            Rating.append('-')    
        #time.sleep(1)    
    
        #Extracting reviews
        try:
            review = driver.find_element_by_xpath('//div[@class="a-section celwidget"]/div[2]/a[2]/span')
            Reviews.append(review.text)
        except NoSuchElementException:
            Reviews.append('-')
    
        #time.sleep(1)
    
print(len(Rating),len(Reviews))

4277 4277

In [17]:
print(len(Rating),len(Reviews))

4277 4277

In [18]:
data = pd.DataFrame({'Rating':Rating,'Reviews':Reviews})
data

     Rating                                            Reviews
0       3.5                                        Joke it is.
1       4.2                                       HP 14 (2021)
2       4.1                      Very good laptoo at 24k price
3       3.8  Takes forever to startup, key almost out withi...
4       3.8                                   Terrible Product
...     ...                                                ...
4272      -                                                  -
4273      -                                                  -
4274      -                                                  -
4275      -                                                  -
4276      -                                                  -

[4277 rows x 2 columns]

In [19]:
data.to_csv('amazon.csv')